.testimonial-wrapper {
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.testimonial-header h6 {
  font-size: 14px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.testimonial-header h2 {
  font-size: 32px;
  text-align: center;
  margin: 5px 0;
}

.bold-blue {
  color: #6e6e6e;
}

.bold-pink {
  color: #f37002;
}

.sub-heading {
  color: #666;
  font-size: 14px;
}

/* Scrollable container */
.testimonial-scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 20px;
  margin-top: 30px;
}
.testimonial-scroll-container::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  flex: 0 0 80%;
  max-width: 80%;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
  text-align: left;
}

.testimonial-text {
  font-size: 16px;
  color: #444444bd;
  margin-bottom: 15px;
  line-height: 24px;
}
.testimonial-text i{
  color: #44444463;
  font-size: 30px;
}
.testimonial-user {
  display: flex;
  align-items: center;
}

.avatar {
  width: 80px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.role {
  font-size: 14px;
  color: #666;
  margin-top: 0px;
}

/* Dots */
.testimonial-dots {
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  display: inline-block;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #f37002;
}

/* Responsive */
@media (min-width: 768px) {
  .testimonial-card {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
